@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root{
  /* Background Bolors */
  --primary: #007BFF;
  --secondary: #FFFFFF;
  --accent: #FF5722;
  --background: #F5F5F5;
  --background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg clip-path='url(%26quot%3b%23SvgjsClipPath1480%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/rect%3e%3ccircle r='93.335' cx='18.9' cy='-73.58' stroke='%23007bff' stroke-opacity='1' stroke-width='2'%3e%3c/circle%3e%3ccircle r='93.335' cx='393.55' cy='373.13' stroke='%23007bff' stroke-opacity='1' stroke-width='2'%3e%3c/circle%3e%3ccircle r='93.335' cx='690.99' cy='664.26' stroke='%23007bff' stroke-opacity='1' stroke-width='2'%3e%3c/circle%3e%3ccircle r='103.54' cx='341.53' cy='101.04' stroke='%23007bff' stroke-opacity='1' stroke-width='2'%3e%3c/circle%3e%3ccircle r='68.79' cx='810.26' cy='284.45' stroke='%23007bff' stroke-opacity='1' stroke-width='2'%3e%3c/circle%3e%3ccircle r='105.25' cx='442.91' cy='538.83' stroke='%23007bff' stroke-opacity='1' stroke-width='2'%3e%3c/circle%3e%3ccircle r='84.745' cx='354.99' cy='120.72' stroke='%23007bff' stroke-opacity='1' stroke-width='2'%3e%3c/circle%3e%3ccircle r='51.05' cx='260.35' cy='365.01' stroke='%23007bff' stroke-opacity='1' stroke-width='2'%3e%3c/circle%3e%3ccircle r='156.255' cx='478.33' cy='14.24' stroke='%23007bff' stroke-opacity='1' stroke-width='2'%3e%3c/circle%3e%3ccircle r='133.855' cx='1294.26' cy='540.19' stroke='%23007bff' stroke-opacity='1' stroke-width='2'%3e%3c/circle%3e%3ccircle r='55.475' cx='1014.41' cy='62.39' stroke='%23007bff' stroke-opacity='1' stroke-width='2'%3e%3c/circle%3e%3ccircle r='97.845' cx='878.25' cy='121.92' stroke='%23007bff' stroke-opacity='1' stroke-width='2'%3e%3c/circle%3e%3ccircle r='68.845' cx='1143.71' cy='108.02' stroke='%23007bff' stroke-opacity='1' stroke-width='2'%3e%3c/circle%3e%3ccircle r='55.77' cx='989.57' cy='248.02' stroke='%23007bff' stroke-opacity='1' stroke-width='2'%3e%3c/circle%3e%3ccircle r='56.88' cx='405.43' cy='79.19' stroke='%23007bff' stroke-opacity='1' stroke-width='2'%3e%3c/circle%3e%3c/g%3e%3cdefs%3e%3cclipPath id='SvgjsClipPath1480'%3e%3crect width='1440' height='560' x='0' y='0'%3e%3c/rect%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e");

  /* Text Colors */
  --primary-text-color: #333333;
  --secondary-text-color: #777777;
  --accent-text-color:#FF5722;
  --link-text-color: #007BFF;

  /* Fonts */
  --heading-font: "Playfair Display", serif;
  --body-font: "Roboto", sans-serif;
  --alternate-heading-font: "Montserrat", sans-serif;
  --alternate-body-font: "Lato", sans-serif;
}
::-webkit-scrollbar{
  display: none;
}
body {
  margin: 0;
  font-family: var(--body-font);
}

/* Login Page */
.login-page{
  width: 100%;
  height: calc(100vh - 250px);
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  align-items: center;
}

/* Create Account Page */
.createAccountContainer {
  display: flex;
  margin: 5% 0 0 0;
  justify-content: center;
}

.inputGroup{
  display: flex;
  flex-direction: column;
  margin: 1%;
}


.post{
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
  overflow: hidden;
}

.submit{
  all:unset;
  padding: 10px;
  border-radius: 10px;
  color:white;
  background: #333333;
  margin: 10% 0 0 82%;
  outline: none;
  cursor: pointer;
  justify-self: flex-end;
}
/* Home Page*/
/* .homepage{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}


.postCard{
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 20px 0;
  height: 300px;
  position: relative;
}
.cardFooter {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
}


.divMargin{
  display: flex;
  margin-bottom: 20%;
} */
/* End of Home Page*/
/* .titles{
  margin: 0 70% 0 0;
}
.deleteBtn{
  border: none;
  cursor: pointer;
}

.menuBtn {
  background-color: transparent;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.postHeader{
  display: flex;
} */

/* .viewPostPage {
  display: flex;
  width: calc(100% - 300px);
  margin-left: 300px;
}

.sidebar{
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 10px 0px 6px -5px rgba(0, 0, 0, 0.1);
  padding: 5% 0;
}



.postMenu{
  display: inline-block;
}

.postContainer {
  display: flex;
  flex-direction: column;
  padding: 30px;
  width: 100%;
}

.postHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.postHeader h1 {
  margin: 0;
  flex-grow: 1;
}

.postDate {
  margin-top: 10px;
  color: var(--secondary-text-color);
}*/

.spacer{
  flex:1;
}